# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# System files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.tgz
*.zip

# Temporary files
tmp/
temp/
